.offDay {
	background-color: pink;
}

.monthNames {
	background-color: white;
}

.dayNumbers {
	background-color: #DDDDDD;
}

.dayNumbers > td {
	height: 25px;
}

td {
	border-left: 0.5px dotted grey;
	border-spacing: 0;
	padding: 0;
	border-collapse: separate;
	text-align: center;
}

col {
	min-width: 25px;
}

.vertical-text {
	writing-mode: tb-rl;
	/*transform: rotate(90deg);
	transform-origin: left top 0;*/
}

.team-name {
	height: 128px;
	min-width: 55px;
	padding-right: 25px;
}
