.offDay {
	background-color: #ffe5e5;
}

.today {
	background: repeating-linear-gradient(
		90deg,
		white,
		white 10px,
		grey 5px,
		grey 15px
		/*#88bb88 5px,
		#88cc88 15px*/
	);
}

.monthNames {
	background-color: white;
}

.dayNumbers {
	background-color: #DDDDDD;
}

.dayNumbers > td {
	height: 25px;
}

td {
	border-right: 1px dotted grey;
	border-spacing: 0;
	padding: 0;
	border-collapse: separate;
	text-align: center;
}

.firstDay {
	border-right: 2px dashed grey;
}

col {
	min-width: 25px;
}

.vertical-text {
	writing-mode: tb-rl;
	/*transform: rotate(90deg);
	transform-origin: left top 0;*/
}

.team-name {
	height: 128px;
	min-width: 55px;
	padding-right: 25px;
}

table {
	padding-left: 10px;
}

.dayOfWeek {
	background-color: #DDDDDD;
	border-top: 1px solid grey;
}
